
:root {
    --primary-color:#a21609;
    --secondary-color: hsl(219, 34%, 44%);
    --third-color: rgb(109, 146, 213);
    --fourth-color: #2B2235;

}

.hero {
    position: relative;
}

.hero img {
    width: 1500px;
    margin: 15px;
}

.hero h1{
    font-size: 60px;
    color: var(--secondary-color);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    margin: 20px;
    top: 10px;
    right: 100px;
    left: 100px;
    text-align: center;
    background-color: #d9cbe26b;
    
}

.hero article {
    position: absolute;
    margin: 5px;
    top: 150px;
    right: 100px;
    left: 100px;
    bottom: 170px;
    background-color: #d9cbe26b;
}
    
.hero article img {
    width: 400px;
    float: right;
    top: 10px;
}

.hero article p {
    font-size: 25px;
    color: var(--secondary-color);padding: 10px;
}

/* ABOUT.HTML SECTION CLASS="PART2" */

.part2 {
    display: flex;
    flex-direction: row;
    background: var(--secondary-color);
    
}

.part2 img {
    width: 30%;
}
.part2 p {
    margin: 100px;
    color: var(--secondary-color);
    font-size: 20px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ABOUT.HTML SECTION CLASS="PART3" */

.part3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background:var(--secondary-color);
    height: 180px;
}

.part3 img {
    position: relative;
    width: 150px;
}


section h2 {
    color: var(--primary-color);
    font-size: 40px;
    text-align: center;
}


figure {
    display: flex;
    flex-flow: column;
    color: white;
    text-align: center;
    padding: 50px;
    max-width: 220px;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main img {
    display: grid;
    width: 500px;
}

/* --------------CONTACT------------------*/
header {
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-color);
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.logo img {
    width: 100px;
    align-items: center;
}

h1 {
    color: var(--secondary-color);
    text-align: center;
    background-color: #d9cbe26b;
    font-size: 60px;
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.container {
    display: flex;
    background: var(--secondary-color);
    justify-content: space-around;
    border-color: #972E25;
    padding: 1px;
    margin: 10px;
    width: 1490px;
}

.maps {
    justify-content: flex-end;
    margin: 10px;

}

.info {
    font-size: 40px;
    color:  white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    font-size: 40px;
    color:  var(--primary-color);
    font-size: 40px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.employees {
    display: flex;
    justify-content: space-around;
    background: var(--secondary-color);
    padding: 50px;
    margin: 10px; 
    
}

.employees1, .employees2, .employees3 {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
    
.employees1 img {
    width: 400px;
}

.employees2 img {
    width: 350px;
}

.employees3 img {
    width: 435px;
}


form {
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: grid;
    background: var(--secondary-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.introo {
    font-size: 30px;
    text-align: center;
    color: #fff;
    grid-template-rows: 3fr 1fr;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
fieldset {
    grid-gap: 0.5em;
    margin: 0.5rem;
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

legend  {
    padding: 0.5rem;
    font-size: 25px;
    color: var(--primary-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/*----FOOTER------*/

.links {
    margin: 25px;
    padding: 5px;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
}

.links p {
    margin: 10px;
    font-size: 20px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer nav a img{
    display: inline-block;
    margin: 5px;
    width: 40px;
    text-align:  center;
}

a {
    color: white;
    text-decoration: none;
}

nav a {
    align-items: center;
    padding-right: 50px;
}

/* ---------------TRIPS-----------------*/

.calling {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.calling img {
    width: 1000px;
}

.calling button {
    position: absolute;
    background-color: #d9cbe26b;
    align-self: center;
    
}

.calling nav a {
    color: var(--secondary-color);
    font-size: 90px;
    align-self: center;
    padding: 5px;
    
    
}

.pictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

article img {
    width: 300px;
    margin: 20px;
}

h4 {
    font-size: 20px;
    text-align: center;
    color: var(--primary-color);
}

article p {
    font-size: 18px;
    align-content: center;
    color: var(--secondary-color);
}

article button {
    background-color: #e2ea0afe;
    align-content: center;
    margin-left: 130px;
}

article nav a {
    color: var(--secondary-color);
    font-size: 20px;
    padding: 5px;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(32, 20, 124);
    font-family: sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    margin: 0 auto;
}

caption {
    caption-side: top;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

th,td {
    border: 1px solid rgb(6, 33, 87);
    padding: 8px 10px;
    text-align: center;
}

th:first-of-type {
    color:rgb(32, 20, 124)
}

th {
    color: var(--primary-color)
}

/* -----INDEX----*/



