@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root {
    --primary-color:#a21609;
    --secondary-color: hsl(219, 34%, 44%);
    --third-color: rgb(109, 146, 213);
    --fourth-color: #2B2235;
}

.links {
    margin: 25px;
    padding: 5px;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
}

.links p {
    margin: 10px;
    font-size: 20px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer nav a img{
    display: inline-block;
    margin: 5px;
    width: 40px;
    text-align:  center;
}

a {
    color: white;
    text-decoration: none;
}

nav a {
    align-items: center;
    padding-right: 50px;
}